.cta-button {
    padding: 1em;
    margin-top: 1em;
    border: none;
    background-color: rgba(39, 39, 39, 0.568);
    color: white;
    cursor: pointer;
    position: relative;
}

.cta-button::after {
    content: "Click Here";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.568);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cta-button:hover::after {
    opacity: 1;
    content: "Click Here";
}
